.side-menu-container{
	/* display: flex;
 	flex-flow: column wrap; */
}
#sidebar-wrapper{
	overflow: hidden;
	white-space: nowrap;
}

.side-menu-header-wrapper,.side-menu-activity-header{
	width: 100%;
	position: relative;
	vertical-align:middle;
	height: 46px;
	flex: 0 0 auto; 
	display: flex;
	margin-bottom: 3px;
}
.side-menu-header-wrapper{
	text-align: center;
}
.side-menu-header-text,.side-menu-activity-header-text{
	line-height: 20px;
	margin: 10px 15px 3px 30px ;
	padding-top: 5px;
	font-weight: 700;
	font-size: 12pt;
	flex-grow:1;
}
.side-menu-header-closeBtn{
 /* 	float: right; */
	margin: 10px 5px 3px 0;
	padding-top: 5px;
	
}

hr{
	border-color: #D6DADC;
    margin-bottom: 7px;
    margin-top: 7px;
	width: 90%;
}
#side-menu-delete-board-wrapper>hr{
	width:98%;
}
.side-menu-profile_image{
	width: 30px;
	height: 30px;
}
#setMember{
	display: flex;
	padding: 0 0 10px 5px;
}
.side-menu-content{
	padding: 0 10px 0 10px;
	display: flex;
	flex-flow: column wrap;
}
#findOption{
	padding: 10px 5px 10px 5px;
}
.side-menu-members{
	padding: 0 3px 0 3px;
}
.side-menu-addMember-btn{
	color: #66615B;
    background-color: #FCFDFD;
    height: 34px;
    vertical-align: middle;
    flex: none;
    padding: 7px 7px 7px 7px;
    border: 1px solid #e2e4e6;
    border-bottom-color: #cdd2d4;
    border-radius: 3px;
	
}
.side-menu-addMember-btn:HOVER {
	background-color: #337AB7;
	color: #FCFDFD;
}
.side-menu-addMember-text{
	font-weight: 700;
}
.side-menu-members-info-img-wrapper,.my-members-info-img-wrapper,.activity-members-info-img-wrapper{
	padding-right: 10px;
}

.side-menu-members-info-img,.my-members-info-img,.activity-members-info-img{
	height:50px;
	width: 50px;
}
.side-menu-members-info-wrapper,.my-members-info-wrapper,.activity-members-info-wrapper{
	display: flex;
}
.side-menu-members-info-text-wrapper,.my-members-info-text-wrapper,.activity-members-info-text-wrapper{
	flex: 1;
}

.side-menu-members-info,.my-members-info,.activity-members-info,.side-menu-change-permission {
	background-color:#fff;
  /*   position: absolute;
    left: 10px; */
    padding: 15px;
}

.my-img{
	width:30px;
	height: 30px;
}
.activity-unit{
	display: flex;
    padding: 3px 2px 3px 3px;
	
}
.my-img-wrapper{
	flex: none;
	padding-right: 3px;
}
.activity-unit-contents-wrapper{
	flex: 1 1 auto;
	padding-left: 3px;
}
.side-menu-option-menu{
	width: 100%;
}
.side-menu-delete-board-btn{
	padding-left: 15px;
	line-height: 30px;
	color: red;
}

.side-menu-activity-content{
    overflow-y: auto;
    overflow-x: hidden;
}
.background-color-list{
	/* width: 90%; */
	width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #e2e4e6;
}
.background-color-list-select{
/* 	display: flex;
	flex-direction:column;
	flex-wrap: wrap; */
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}
.background-color-list-header{
	padding: 10px;
	display: flex;
	
}
.background-color-list-header-text{
	flex: 1 1 auto;
	text-align: center;
}
.color-list-item{
	width: 100px;/* 33% */
	height: 100px;
	
    margin: 3px;
	border-radius: 3px;
}
.color-list-item:HOVER{
	background-color: rgba( 0, 0, 0, 0.15 );
}
/*---------------»ö»ó css------------------*/

#color-list-blue{
	background-color: #0079BF;
}				
#color-list-orange{
	background-color: #D29034;
}
#color-list-green{
	background-color: #519839;	
}
#color-list-red{
	background-color: #B04632;	
}
#color-list-purple{
	background-color: #89609E;	
}
#color-list-pink{
	background-color: #CD5A91;	
}
#color-list-lightGreen{
	background-color: #4BBF6B;	
}
#color-list-sykBlue{
	background-color: #00AECC;	
}
#color-list-gray{
	background-color: #838C91;	
}
/*------------------------------*/

.can-not-click{
	color:#8C8C8C;
}
.side-menu-change-permission-header{
	display: flex;
	padding: 5px;
}
.side-menu-change-permission-header-text{
	flex: 1 1 auto;
    text-align: center;
}
.side-menu-members-info,.side-menu-change-permission {
	width: 320px;
}

.side-menu-change-permission-wrapper{
    white-space: initial;
}

.change-permission-admin,.change-permission-member{
	padding:5px;
}
