.boards-drawer-view{
 	height: 100%; 
 	box-shadow:0 3px 6px rgba(0,0,0,.4);
 	border-radius: 0 3px 3px 0;
    position: fixed;
    top: 45px;
    left: 0;
    right: 0px;
    bottom: 0px;
    z-index: 10; /*헤더메뉴가 100*/
    width: 280px;
/*     padding-bottom: 65px; */
    background-color: #FFFFFF;
	
}
.boards-drawer-view{

	/* max-height: 891px; */
	
}

.boards-drawer-content{
	margin: 6px 4px 6px 6px;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 619px;
	
	padding: 10px 5px 10px 0;
	
}
.board-drawer-header-text{
	
    text-align: center;
    line-height: 28px;
    font-size: 15px;
    font-weight: 700;
	
}
#find-board-name{
	width: 98%;
	margin: 0 0 6px;
	padding: 6px;
}

.all-boards-header, .starred-boards-header{
	margin: 16px 30px 10px 8px;
	position: relative;
}
.all-boards-header > span, .starred-boards-header > span{
	color: #8c8c8c;
}
.all-boards-content,.starred-boards-content{
	position: relative;
}
.all-boards-wrapper,.starrd-boards-wrapper{
	position: relative;
	margin: 3px 0 3px 0;
	
}
.all-boards-wrapper:hover,.starrd-boards-wrapper:hover{
	opacity: initial;
}
.drawer-boardsList-title-background{
	/* background-color: #B04632; */
	opacity: 0.13;
	background-size: cover;
	background-position: center center;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	
}
.drawer-boardsList-title-fade{
	background-color: rgba(255, 255, 255, 0.882353);
	 
}
.drawer-boardsList-title-link{
	display: flex;
	height: 36px;
	font-weight: 700;
	position: relative;
	border-radius: 3px;
	color: #444;
	background-color: transparent;
	
    flex: 1 1 auto;
	
}
.drawer-boardsList-title-link-thumbnail{
	background-color: #B04632;
	flex: 0 0 auto;
	background-size: cover;
	border-radius: 3px 0 0 3px;
	display: inline-block;
	height: 36px;
	opacity: .7;
	width: 36px;
	
}
.drawer-boardsList-title-details{
	padding: 9px 0 9px 10px;
	flex: 1 1 auto;
	overflow: hidden;
 	display: flex; 
}
.drawer-boardsList-name{
 	display: block; 
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis; /*overflow시 알아서 표시*/
	font-weight: 700;
	color: #444;
	position: relative;
	flex: 1 1 auto;
    padding-right: 4px;
}
.drawer-boardsList-title-star{
	padding: 10px 5px 10px 5px;
	float: right;
	flex: 0 0 auto;
} 
.glyphicon-star{
	color: #f2d600;
}
.drawer-boardsList-title-wrapper{
	display: flex;
}

#allActivityModal{
	overflow: auto;	
}
