 /**
 boardMain의 전체적인 디자인 
 */
 


/*전체 색상설정*/
body, #board-header-wrap{
	background-color: #B04632;
}

#header, .header-bar{
	background-color: black;/* #963C2B; */
 	position: fixed;
 	width: 100%;
	top: 0px;
	left: 0px;
	min-height: 40px;
	max-height: 50px;
/* 	overflow: auto; */
	z-index: 10;/* 레이어의 맨위 설정 */
 }
#board-header-wrap1{
	/*position이 releative이면, 
	상대 위치가 지정된 엘리먼트에 top이나 right, bottom, left를 지정하면 기본 위치와 다르게 위치가 조정됩니다.
	다른 콘텐츠는 해당 엘리먼트에서 남긴 공백에 맞춰 들어가게끔 조정되지 않을 것입니다.*/
	/*position은 fixed, width는 100%, 원하는 위치를 설정하면 고정바 완성됨.*/
	position: fixed;
	top: 40px;/*bootstrap.css의 4171라인의 height와 맞춰야함.*/
	width: 100%;
	left: 0px;
	min-height: 40px;
	max-height: 50px;
	/*이 안에 들어가는 콘텐츠의 크기에 따라 조정되니, 나머지 요소들 크기를 맞출것 */
 /* 	padding: 8px 4px 8px 8px; 
	margin: 8px 8px 20px 8px; */
}

#board-header-brand{
	color: white;
	height: 30px;
	overflow: hidden;/*보드이름 길어져도 쭉 나감 */
	margin: 0 4px 0 0;
	float: left;
}



/*리스트추가, 카드추가할때 버튼클릭시 입력창 숨기고 열기 관련*/
.hide {	display: none;}


/*메뉴의 멤버사진 가로정렬*/
.dropdown{ display:inline}

.navbar-brand{/*crpaper에서도 수정*/
	margin : 0 15px 0 15px;
	padding: 0px;
	color: #CA9D94;
}

/* #list-wrapper{
	position: flex;
	display: block;

} */
.list_all{
 	display: flex; 
/*  	overflow-x: auto; */
 	height: 100%; 
 	flex-grow:1;
 	position: absolute;
/* 
	position: relative; */
}
#list-wrapper{
	position: relative;
	height: inherit;
	/* overflow-x: auto; */
/* 	display: flex; */
}

#board-canvas{
	/*리스트가 영역안에 제대로 보여지려면 메뉴바만큼 내려와야함.*/
 	margin-top:40px; 
flex-grow:1;
position: relative;
	height:98%;/*스크롤아래로*/
}
.surface{
	height:100%;
	display: flex;
	overflow-y: hidden;
	overflow-x:auto;
}
#header{
	flex:none;
}
#content{
	flex-grow:1;
	margin-top: 40px;
/* 	display: flex; */
	position:relative;
	padding-bottom: 20px;/*보드화면에서 맨아래 스크롤부분을 패딩으로 남김.*/
	/* overflow-x: auto; *//*맨아래스크롤생기게함.*/
	height: inherit;
}
.board-wrapper{
	position: relative;
	/*
	position: absolute;
	 left: 0;
	right: 0;
	top: 0;
	bottom: 0; */
	height:inherit;/*맨 아래 스크롤생기게함.*/
	
	
}
#board-main-content{
	display:flex;
	flex-direction: column;
	height:inherit;
	position: relative;
/* 	overflow-x:auto;  */
}

#board-header{
	flex-basis:40px;
	height: auto;
	overflow: hidden;
	position: fixed;
	width: 100%;
/* 	flex-basis:40px;
		left: 0px;
	min-height: 40px;
	position: fixed; */
/* 		
	top: 40px;bootstrap.css의 4171라인의 height와 맞춰야함.
	width: 100%;

	max-height: 50px; */
}

/* #list-wrapper{
	position: relative;
	display: block;
	white-space: wrap;
}
#board{
	position: relative;
} */