/*board-canvas에 해당하는 css, 주로 card와 list의 설정을 모음*/

 
 /* 전체화면에서 리스트가 늘어났을 때 맨 아래에 스크롤이 생기게 함.*/
 html, body{
	height: 100%; overflow: auto;
}

/*  .list_all 전체화면에서 리스트가 늘어났을 때 맨 아래에 스크롤이 생기게 함.*/
/*.list_all{
 height: 85%;
 top:90px;
 position: absolute; 레이어 위치는 반드시 절대값으로 설정해야 한다. 다른 것들은 안 된다.
} */

/*리스트와 카드의 내용이 길어질 경우 내용을 하나의 블록으로 묶음처리해서 영역을 나가지 않게 함.*/
.list_unit_view, .card_unit_view{
	white-space: normal;
}
/*카드의 영역을 일관되게 맞추기 위해 패딩 0 */
.card_all{
	padding: 0;
}

/*ul과 li앞에 붙는 표시 지우기 */
ul.list_all, ul.card_all, li.list_unit, li.card_unit{
	list-style-type: none;
}
/* 카드들이 들어갈 list_unit의 영역설정  */
.list_unit {
	display:inline-block; /* Op, Saf, Moz3.0이상, IE8등 */
    height: 100%;
    min-width: 270px;/*카드의 가로길이 지정*/
    vertical-align: top;
    background-color: #E2E4E6;
}
.card_all{
		width:236;
}
.card_unit{
		width:236;
}
.card_unit_name {
	background-color: white;
 	margin: 5px 6px 5px 6px;
	padding: 2px 6px 2px 8px; 
/*     margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-left: 8px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 2px; */
	 
}
/*.card_unit_name과 마진,패딩이 같아야 균형이 맞음*/
.addCard_group{
	margin: 5px 6px 5px 6px;
	/* padding: 2px 6px 2px 8px;  */
}
.list_unit_view {
	
    padding: 6px 4px 2px 4px;
    margin-left: 0px;
	
}
.list_unit_name{
	
    padding: 0px 6px 0px 8px;
}

.addList_group{
	/*add List의 입력창 , 버튼 부분*/
	 padding: 4px 4px 2px 4px;
	
}
.addList_textarea{
	/*addList의 textarea는 부트스트랩 테마인데, 기본설정이 margin-bottom이 0임. */
	margin: 0;
}
#byteInfo_group{
	/*addList의 textarea아래의 글자수 체크 부분을 오른쪽으로 옮김*/
	float: right;
}
/* #addListLI{
	addList 버튼은 list_unit 클래스이지만, 배경색이 회색일 필요는 없으므로 흰색으로 다시 바꿈. 
	만일 배경색을 바꿔야한다면 이것도 같은 색으로 바꿔야함.
	background-color: white;
}  */

/* 사용자가 카드의 이름을 수정하는 부분 */
.textarea-card-name {
	/*사용자가 textarea 사이즈 조정 금지*/
	resize:none;
	/* 스크롤바 생성X */
	overflow-y:hidden;
	width: 90%;
	border:0;
	background:clear;
	/* height:30px; */	
	/* display:inline; */
	/* overflow: auto;  */
	/* height: $('card_Name').prop("scrollHeight"); */
	
} 