
/*전체 색상설정*/
body, #board-header-wrap{
	background-color: #B04632;
}
#header{
	/* background-color: #963C2B;  */
	background-color: rgba( 0, 0, 0, 0.15 );
}

.list_all{
	overflow-x:auto;
	overflow-y:hidden;
 	display: flex; 
/*  	overflow-x: auto; */
 	/* flex-grow:1; */
 	position: absolute;
 	left: 0;
	right: 0;
	top: 0; /*메뉴바때문*/
	bottom: 0;
	margin:0 3px 15px 3px;
/* 
	position: relative; */
}
#list-wrapper{
	flex-grow:1;
	position: relative;
	/* overflow-x: auto; */
 	 margin-bottom:20px;   
 	 margin-top:10px;
}

#board-canvas{
	flex-grow:1;
	display: flex;
	position: relative;

}

#findMember-close-btn{
	float: right;
}

.header-btn-home{
	/* color: #CA9D94; */
	color: rgba( 225, 225, 225, 0.75);
	/* a태그 hover시 언더라인 없애기 */
	text-decoration:none !important;
}
/* .header-btn-home:hover{
	color:#f3f3f3;
} */
.header-text{
	color: rgba( 225, 225, 225, 0.75);
	font-family:"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
	font-size:19px;
}
.header-text:hover{
	color:#f3f3f3;
}
.header-text-myInfo{
	padding:0 20px;
}
